#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized. Always
    %button= link_to "Enter", new_user_registration_path


#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolores. Veniam possimus, qui non officia minus enim voluptatibus mollitia quo odio aliquid ea. Distinctio, quidem, error. Architecto earum, voluptatem distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eveniet accusantium, fuga recusandae aperiam. Enim veritatis cupiditate, error ab suscipit quidem, at tempore possimus illum animi. Impedit suscipit vel quasi.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
